
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body {
    font-family: 'Roboto Slab', serif;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

h1 {
    color: rgb(77, 70, 109); 
    font-weight: 800;
}

h3 {
    color: rgb(124, 142, 194); 
    font-weight: 800;
    font-size: 35px;
}

h5 {
    text-align:center;
}

#about {
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 50px;
    font-size: 20px;
    color: rgb(100, 103, 138);
    text-align: center
}

.lets-talk {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(100, 103, 138);
    text-align: center
}


#contact-me {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: rgba(200,208,245, 0.5)
}
.parent {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.centered {
    text-align: center;
}

.card {
    min-width: 300px;
    min-height: 250px;
    text-align: center;
    border-radius: 10px;
    float: center;
}

.dark {
    background-color: rgb(30, 30, 34);
}

/* .portfolio {
    background: rgb(200,208,245);
    background: linear-gradient(90deg, rgba(200,208,245) 41%, rgba(255,208,216,1) 100%);
    height: 100vh;
} */

.introrow {
    margin-top: 100px;
    margin-bottom: 100px;
}

.fixed-bottom {
    background: rgb(200,208,245);
    background: linear-gradient(90deg, rgba(200,208,245) 41%, rgba(255,208,216,1) 100%);
    margin:none;
}

.footer-border {
    background-color: rgb(30, 30, 34);
}

.intro {
    font-size: 1.2em;
    background: linear-gradient(90deg, rgba(200,208,245) 41%, rgba(255,208,216,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.contact-text {
    color: rgba(200,208,245);
}

.contact-info {
    font-weight: bold;
    color: rgb(100, 103, 138);
}

.cardheader {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

.form-control{
    background-color: rgb(196, 214, 233);
    border: none;
    color: rgb(100, 103, 138);
    max-width: 400px;

}

#spellbindr {
    background: url("./images/spellbindr.png") top center no-repeat;
}

.navbar-dark {
    background-color: rgb(30, 30, 34);
}

.navbar-light {
    background: rgb(200,208,245);
    background: linear-gradient(90deg, rgba(200,208,245) 41%, rgba(255,208,216,1) 100%);
    cursor: pointer;
}

.nav-item { 
    color: rgb(190, 180, 206); 
    text-align: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}

.nav-item:hover { color: #c7f9ff; }

.navbar-toggler {
    border: none;
}